//Menu Animation
.menu__close-anim {
    animation-name: menuCloseAnim;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes menuCloseAnim {
    0% {
        opacity: 1;
        pointer-events: all;
    }

    100% {
        opacity: 0;
        pointer-events: none;
    }
}

.menu__open-anim {
    animation-name: menuOpenAnim;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes menuOpenAnim {
    0% {
        opacity: 0;
        pointer-events: none;
    }

    100% {
        opacity: 1;
        pointer-events: all;
    }
}

//Note Animation

.note__open-anim {
    animation-name: textOpenAnim;
    animation-duration: 1s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes textOpenAnim {
    0% {
        transform: translateY(150%);
        background-color: var(--theme-color);
    }

    100% {
        transform: translateY(0%);
        background-color: transparent;
    }
}

.note__close-anim {
    animation-name: textCloseAnim;
    animation-duration: 1s;
    animation-play-state: running;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes textCloseAnim {
    0% {
        transform: translateY(0%);
        background-color: transparent;
    }

    100% {
        transform: translateY(150%);
        background-color: var(--theme-color);
    }
}
